.banners {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

    @media (max-width: 800px) {
        column-gap: 0;
        flex-direction: column;
        row-gap: 20px;
    }

    @media (min-width: 1920px) {
        justify-content: center;
    }

    &__one{
        position: relative;

        img{
            width: 100%;
            min-height: 300px;
        }

        .banners__title{
            position: absolute;
            @include adaptiv-value ("top", 40, 30, 0);
            @include adaptiv-value ("left", 50, 20, 0);
            font-family: 'Jost-Bold';
            line-height: lh(52, 40);
            color: $whiteColor;
            @include adaptiv-value ("font-size", 40, 25, 0);
        }

        .banners__link{
            position: absolute;
            bottom: 50px;
            @include adaptiv-value ("left", 50, 20, 0);
            font-family: 'Jost-Regular';
            @include adaptiv-value ("font-size", 26, 20, 0);
            color: $hoverLink;
            line-height: lh(32, 26);
            text-decoration: underline;
        }
    }

    &__two{
        position: relative;

        img{
            width: 100%;
            min-height: 300px;
        }

        .banners__title{
            max-width: 270px;
            width: 100%;
            position: absolute;
            @include adaptiv-value ("top", 40, 30, 0);
            @include adaptiv-value ("left", 50, 20, 0);
            font-family: 'Jost-Bold';
            line-height: lh(52, 40);
            color: $whiteColor;
            @include adaptiv-value ("font-size", 40, 25, 0);

            @media (max-width: 800px) {
                max-width: 200px;
            }
        }

        .banners__link{
            position: absolute;
            bottom: 50px;
            @include adaptiv-value ("left", 50, 20, 0);
            font-family: 'Jost-Regular';
            @include adaptiv-value ("font-size", 26, 20, 0);
            color: $hoverLink;
            line-height: lh(32, 26);
            text-decoration: underline;
        }
    }
}