@font-face {
    font-family: 'Montserrat-Regular';
    src: url(fonts/Montserrat-Regular.ttf);
};
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(fonts/Montserrat-Medium.ttf);
};
@font-face {
    font-family: 'Forum-Regular';
    src: url(fonts/Forum-Regular.ttf);
};
@font-face {
    font-family: 'Jost-Bold';
    src: url(fonts/Jost-Bold.ttf);
};
@font-face {
    font-family: 'Jost-Light';
    src: url(fonts/Jost-Light.ttf);
};
@font-face {
    font-family: 'Jost-Medium';
    src: url(fonts/Jost-Medium.ttf);
};
@font-face {
    font-family: 'Jost-Regular';
    src: url(fonts/Jost-Regular.ttf);
};
@font-face {
    font-family: 'Jost-SemiBold';
    src: url(fonts/Jost-SemiBold.ttf);
};