
// Модальное окно "Заказать звонок"
.modal-call{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 430px;
        width: 100%;
        min-height: 382px;
        padding: 40px 44px;
        background-color: $backgroundWhite;
        position: relative;

        @media (max-width: 500px) {
            padding: 40px 0;
            max-width: 320px;
            min-height: 360px;
        }

        .form-call-modal{

            &__title{
                font-family: 'Jost-Bold';
                align-self: center;
                font-size: 30px;
                line-height: lh(34, 30);
                color: $darkColor;
                margin: 0 0 25px 0;
            }

            &__tell {
                display: flex;
                flex-direction: column;
                align-items: center;

                .form-call-modal__label{
                    align-items: flex-start;
                    font-family: 'Jost-Regular';
                    font-size: 17px;
                    line-height: lh(24, 17);
                    color: #636B78;
                    margin: 0 0 10px 0;
                    align-self: start;
                }
    
                .form-call-modal__input{
                    width: 313px;
                    height: 70px;
                    margin: 0 0 30px 0;
                    font-family: 'Jost-Regular';
                    font-size: 17px;
                    line-height: lh(24, 17);
                    color: #636B78;
                    padding: 0 0 0 30px;

                    &::placeholder{
                        color: #D0D0D0;
                        font-family: 'Jost-Regular';
                        font-size: 17px;
                        line-height: lh(24, 17);
                    }

                    @media (max-width: 500px) {
                        width: 300px;
                        height: 60px;
                    }
                }
            }

            &__close{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 10px;
                top: 10px;
                padding: 10px;
                background-color: transparent;

                img{
                    width: 15px;
                    height: 15px;
                }

                @media (max-width: 500px) {
                    right: 0;
                    top: 0;
                }
            }
        }
    }
}